/* TOODO mr: cleanup duplicate styles (move to base component) */
:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: light-dark(#222426, CanvasText);
  font: caption;
  margin: 0;
  user-select: none;

  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

:host * {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--header-height);
  color: var(--toolbar-text-color);
  background-color: var(--toolbar-background-color);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - var(--header-height));
  overflow-x: scroll;
  padding: 8px 12px;
}

.header-topbar {
  width: 100%;
  padding: 8px;
}

.filter-input {
  height: 32px;
  width: 100%;
  border: 1px solid var(--control-border-color);
  border-radius: 2px;
  padding-inline: 8px;
}

.add-item-button,
.mark-item-button {
  width: 100%;
  align-self: flex-end;
}

.button {
  height: var(--control-height);
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 13px;
  line-height: 27px;

  &:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    opacity: 0.9;
  }

  &:active {
    color: var(--button-active-text-color);
    background-color: var(--button-active-background-color);
    opacity: 1;
  }
}
