:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: light-dark(#222426, CanvasText);
  font: caption;
  margin: 0;
  user-select: none;

  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

:host * {
  box-sizing: border-box;
}

.item-list {
  margin: 0;
  padding: 0;
  border: 1px solid var(--control-border-color);
  border-radius: 4px;
}
