:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: light-dark(#222426, CanvasText);
  font: caption;
  margin: 0;
  user-select: none;

  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
}

:host * {
  box-sizing: border-box;
}

.list-item {
  padding-left: 20px;
  list-style: none;
}

.list-item__grid {
  position: relative;
  display: grid;
  width: 100%;
  align-items: center;
  padding-right: 6px;
  grid-column-gap: 4px;
  grid-template-columns: 18px 1fr calc(var(--scrollbar-background-width) + 22px);
}

.list-item__remove-button {
  grid-column: 3;
  position: absolute;
  top: 1px;
  right: 4px; /* no scrollbar */
  display: none;
  width: 22px;
  height: 22px;
  padding: 1px;
  opacity: 0.9;
}

/* TODO mr: deduplicate this style rule (app.css) */
.button {
  border: none;
  border-radius: 4px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  /* font-size: 13px;
  line-height: 27px; */

  &:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    opacity: 0.9;
  }

  &:active {
    color: var(--button-active-text-color);
    background-color: var(--button-active-background-color);
    opacity: 1;
  }
}

.main-view--scroll .feed-item__remove-button {
  right: calc(
    var(--scrollbar-background-width) + 4px
  ); /* TODO mr: check scrolling */
}

.list-item__link {
  grid-column: 2 / span 2;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;

  color: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.list-item__grid:hover {
  .list-item__link {
    grid-column: 2;
  }

  .list-item__remove-button {
    display: block;
  }
}
